@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,400&display=swap');

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: #484848;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

body {
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

#root {
  position: relative;
  height: 100%;
}

a {
  background-color: transparent;
  color: inherit;
}

a, abbr {
  text-decoration: none;
}
*, :hover,:active,:focus {
  outline: none;
}
* {
  -webkit-tap-highlight-color: transparent;
}

ul{
  list-style: none;
}


button, input, optgroup, select, textarea {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  font: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  letter-spacing: inherit;
}

h3{
  margin: 0;
}

.app{
  display: flex;

}

.button{
  padding: 16px 32px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 600;
  transition: background-color .2s ease-in;
  cursor: pointer;

  &.basic{
    color: white;
    background-color: #434852;

    &:hover{
      background-color: rgba(67, 72, 82, 0.85);
    }
  }

}